<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad.splanner" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPlanner" >
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MusicList"
            android:exported="false" />
        <activity
            android:name=".ui.home.schedule.journal.Edit_Journal"
            android:exported="false"
            android:label="@string/title_activity_edit_journal"
            android:theme="@style/Theme.SPlanner.NoActionBar" />
        <activity
            android:name=".ui.home.schedule.journal.journal_des"
            android:exported="false" />
        <activity
            android:name=".ui.home.schedule.HomeAddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.schedule.journal.AddJournal"
            android:exported="false" />
        <activity
            android:name=".ui.home.schedule.journal.journalRecyclerView"
            android:exported="false" />
        <activity
            android:name=".AddDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.schedule.ScheduleSeeAllActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".alarmreciever"
            android:exported="false" />
    </application>

</manifest>